<p id="notice"><%= notice %></p>

<h1>Invoicelines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoicelines.each do |invoiceline| %>
      <tr>
        <td><%= invoiceline.name %></td>
        <td><%= invoiceline.price %></td>
        <td><%= invoiceline.quantity %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

