<p>Votre devis <%= @invoice.name %> a ete payée!</p>
<p>===============================================</p>
<p>Allez verifier dans stripe que le virement ait bien reussie. Le numero de facture est: <%= @invoice.id %>
</p>

