<div class="header">
  <h2>Modifier le dossier:</h2>
  <h1> <%= @folder.name %></h1>
  <div class="action">
  <div> <%= link_to 'Revenir à la liste des dossiers', root_path %></div>
  <div></div>
</div>

</div>


<div class="container-list">
  <%= render 'form', folder: @folder %>
</div>
