<div class="header">
  <h2>Joindre un document à:</h2>
  <h1> <%= @folder.name %></h1>
  <div class="action">
  <div>
    <%= link_to folder_documents_path do %>
Retour à la liste des documents de <%= @folder.name %>
    <% end %>
  </div>
  <div>

  </div>
</div>

</div>

<div class="container-list">

<%= render 'form', document: @document %>

</div>
