.btn-flat {
  color: white;
  padding: 6px 19px;
  border-radius: 3px;
  font-size: 16px;
  background: #052040;
  transition: background 0.3s ease;
  input{
    color: white;
  }
    input:hover{
    color: white;
  }
}
.spacer{
padding: 10px;
}

.btn-flat:hover {
  background: #052040;
  color: white;
  text-decoration: none;

}

@media (max-width : 520px) {
  .btn-flat {
  color: white;
  padding: 3px 8px;
  border-radius: 2px;
  font-size: 10px;
  background: #052040;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #052040;
  color: white;
  text-decoration: none;

}
}


.btn-flat-small {
  color: white;
  padding: 4px 12px;
  border-radius: 2px;
  background: $green;
  transition: background 0.3s ease;
}

.btn-flat-small:hover {
  background: $blue;
  color: white;
  text-decoration: none;

}


.btn-flat-delete {
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 1px;
  background: #FD1015;
  transition: background 0.3s ease;
}

.btn-flat-delete:hover {
  background: #d30a0d;
  color: white;
  text-decoration: none;
}

.btn-flat-edit {
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 1px;
  background: $blue;
  transition: background 0.3s ease;
}

.btn-flat-edit:hover {
  background: #00355e;
  color: white;
  text-decoration: none;
}
