.navbar-lewagon {
  height: 100px;
  justify-content: space-between;
  background: #fffff;
  a{
    color: black;
    font-size: 16px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 75px;
  transition: 0.5s;
  background-color: white;
  border-radius: 50%;
  padding: 8px;

}

.navbar-lewagon .navbar-brand:hover img {
  transform: scale(1.05);
}
