


<div class="container-list">
  <% if current_user.superadmin_role? || current_user.supervisor_role? %>
  <%= link_to 'Ajouter un appareil', new_material_path, class: "btn-flat" %>
  <div class="spacer"></div>
  <% end %>
    <%= render 'search' %>

  <div class="spacer"></div>

   <div class="spacer"></div>
  <%= render 'materials', materials: @materials %>
</div>

