<div class="header">
  <h2>Les immobilisations de:</h2>
  <h1>Abeille Consultants Associés</h1>
  <div class="action">
  <div>
</div>  <% if current_user.superadmin_role? || current_user.supervisor_role? %>
  <%= link_to 'Ajouter un appareil', new_material_path, class: "btn-flat" %>
  <% end %></div>

</div>


<div class="material">
  <%= render 'search' %>
  <%= render 'materials', materials: @materials %>
</div>

